release/
iconinstaller.tar.gz
.qmlls.ini
.qtcreator/project.qmlproject.user
package/project.qmlproject
package/.qtcreator/project.qmlproject.user
build/
build-*/
package/contents/ui/unity/bin/
package/contents/ui/unity/*.so
package/contents/ui/unity/qmldir
_plasma_src/
**/__pycache__/
